{% load static %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="{% static 'yakima/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'yakima/detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'yakima/leaflet.css' %}" />

<script src="{% static 'yakima/leaflet.js' %}"></script>
<script src="{% static 'yakima/jquery.js' %}"></script>


<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div id="map" style="width:100%; height:250px;"></div>


<div class="wrapper">
  <img class="top-img" src="{{homicide.image_url}}" />
  <h1>{{ homicide.name }}</h1>
  <p class="story">{{ homicide.story }} <a href="{{ homicide.link }}">Read More</a></p>
  <p><a href="/">Return to main page</a></p>
</div>


<div class="wrap" style="margin-top: 20px; border-top: 1px dashed black">
  <h3>Latest Homicides</h3>
  <ul class="cards">

  {% for item in related %}

  <a id="{{ item.id }}" href="/yakima/{{ item.id }}"><li class="cards__item">
      <div class="card">
        <img src="{{ item.image_url}}">
        <div class="card__content">
          <div class="card__title"><a id="{{ item.id }}" href="/yakima/{{ item.id }}">{{item.name}}</a></div>
          <p class="card__text">Killed on {{item.date}} in {{item.city}}</p>
        </div>
      </div>
  </li></a>

  {% endfor %}

  </ul>
</div>


</div>


<script type="text/javascript">
    var map = L.map('map').setView([{{ homicide.x }}, {{ homicide.y }}], 14);
    var osmLayer = new L.TileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets',
    });
    map.addLayer(osmLayer);
    var blackIcon = L.Icon.extend({
        options: {
            iconUrl: "http://bloximages.newyork1.vip.townnews.com/yakimaherald.com/content/tncms/assets/v3/editorial/d/53/d5313a00-f090-11e6-b32a-db7c658c172b/589f66d06493d.image.png",
            iconSize: [24, 24]
        }
    });
    var marker = L.marker([{{ homicide.x }}, {{ homicide.y}}], {icon: new blackIcon()}).addTo(map);
</script>
